Repository BenniProbst/dedup-database-analysis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: latex:compile, cpp:build, cpp:smoke-test, cpp:full-dry-test

latex:compile:
  stage: latex
  tags:
  - kubernetes
  image: texlive/texlive:latest
  before_script:
  - cd docs
  script:
  - 'echo "=== LaTeX Compilation: Triple-Pass Build ==="
  
    pdflatex -interaction=nonstopmode -halt-on-error doku.tex || true
  
    bibtex doku || true
  
  ...

cpp:build:
  tags:
  - kubernetes
  image: gcc:14-bookworm
  before_script:
  - "apt-get update -qq\napt-get install -y -qq cmake libpq-dev libcurl4-openssl-dev \\\n  libhiredis-dev librdkafka-dev nlohmann-json3-dev \\\n  libmariadb-dev || true\n"
  stage: cpp-build
  script:
  ...

cpp:smoke-test:
  tags:
  - kubernetes
  image: gcc:14-bookworm
  before_script:
  - "apt-get update -qq\napt-get install -y -qq cmake libpq-dev libcurl4-openssl-dev \\\n  libhiredis-dev librdkafka-dev nlohmann-json3-dev \\\n  libmariadb-dev || true\n"
  stage: cpp-test
  needs:
  - cpp:build
  script:
  ...

cpp:full-dry-test:
  tags:
  - kubernetes
  image: gcc:14-bookworm
  before_script:
  - "apt-get update -qq\napt-get install -y -qq cmake libpq-dev libcurl4-openssl-dev \\\n  libhiredis-dev librdkafka-dev nlohmann-json3-dev \\\n  libmariadb-dev || true\n"
  stage: cpp-test
  needs:
  - cpp:build
  script:
  ...

Triple pipeline: fix tag matching, add cleanup-only mode, safety docs
  .gitlab-ci.yml
  src/cpp/main.cpp
Due: cpp:build, cpp:smoke-test, cpp:full-dry-test

Session 9 docs + fix PVC names from cluster scan + metrics trace config
  sessions/20260217-session-9-triple-pipeline-monitoring.md
  src/cpp/config.example.json
Due: none

WIP: MetricsTrace architecture + config fixes for 100ms Kafka sampling
  sessions/20260217-session-9-triple-pipeline-monitoring.md
  src/cpp/config.hpp
  src/cpp/experiment/metrics_trace.hpp
Due: cpp:build, cpp:smoke-test, cpp:full-dry-test

Complete MetricsTrace + ResultsExporter: 100ms sampling, Kafka dual output, CSV export
  sessions/20260217-session-9-triple-pipeline-monitoring.md
  src/cpp/CMakeLists.txt
  src/cpp/config.example.json
  src/cpp/experiment/metrics_trace.cpp
  src/cpp/experiment/metrics_trace.hpp
  src/cpp/experiment/results_exporter.cpp
  src/cpp/experiment/results_exporter.hpp
  src/cpp/main.cpp
Due: cpp:build, cpp:smoke-test, cpp:full-dry-test

Fix naming + MinIO physical size: comdare-DB rename, S3 metrics endpoint
  docs/doku.tex
  sessions/20260217-session-9-triple-pipeline-monitoring.md
  src/cpp/experiment/data_loader.cpp
  src/cpp/experiment/metrics_collector.cpp
  src/cpp/experiment/metrics_collector.hpp
Due: latex:compile, cpp:build, cpp:smoke-test, cpp:full-dry-test

Session 9c docs: elaborate with all implementation details + status
  sessions/20260217-session-9-triple-pipeline-monitoring.md
Due: none

Add comdare-DB connector + Redis in doku.tex: 8th system complete
  docs/doku.tex
  sessions/20260217-session-9-triple-pipeline-monitoring.md
  src/cpp/CMakeLists.txt
  src/cpp/config.hpp
  src/cpp/connectors/comdare_connector.cpp
  src/cpp/connectors/comdare_connector.hpp
  src/cpp/experiment/metrics_trace.cpp
  src/cpp/experiment/metrics_trace.hpp
  src/cpp/main.cpp
Due: latex:compile, cpp:build, cpp:smoke-test, cpp:full-dry-test

Make comdare-DB optional via compile flag ENABLE_COMDARE_DB
  src/cpp/CMakeLists.txt
  src/cpp/experiment/metrics_trace.cpp
  src/cpp/experiment/metrics_trace.hpp
  src/cpp/main.cpp
Due: cpp:build, cpp:smoke-test, cpp:full-dry-test

Add measurement infrastructure + automation sections to doku.tex
  docs/doku.tex
Due: latex:compile

Session 9e: Grafana dashboard template + config.example comdare-db + docs
  docs/grafana/dedup-experiment-dashboard.json
  sessions/20260217-session-9-triple-pipeline-monitoring.md
  src/cpp/config.example.json
Due: none

Session 9e: elaborate context recovery guide for session continuity
  sessions/20260217-session-9-triple-pipeline-monitoring.md
Due: none

Add per-file latency tracking to all 8 connectors + statistics
  .gitlab-ci.yml
  src/cpp/connectors/clickhouse_connector.cpp
  src/cpp/connectors/comdare_connector.cpp
  src/cpp/connectors/comdare_connector.hpp
  src/cpp/connectors/db_connector.hpp
  src/cpp/connectors/kafka_connector.cpp
  src/cpp/connectors/mariadb_connector.cpp
  src/cpp/connectors/minio_connector.cpp
  src/cpp/connectors/postgres_connector.cpp
  src/cpp/connectors/redis_connector.cpp
  src/cpp/experiment/data_loader.cpp
  src/cpp/experiment/data_loader.hpp
Due: cpp:build, cpp:smoke-test, cpp:full-dry-test

Session 9f: document per-file latency tracking implementation
  sessions/20260217-session-9-triple-pipeline-monitoring.md
Due: none

Fix config defaults, latency JSON precision, summary table
  .gitignore
  src/cpp/config.example.json
  src/cpp/config.hpp
  src/cpp/experiment/data_loader.cpp
  src/cpp/main.cpp
Due: cpp:build, cpp:smoke-test, cpp:full-dry-test

Add multi-stage Dockerfile for CI/CD container builds
  .dockerignore
  Dockerfile
Due: none

Add K8s manifests: MariaDB, ClickHouse, monitoring, experiment jobs
  k8s/base/configmap.yaml
  k8s/base/namespace.yaml
  k8s/base/rbac.yaml
  k8s/base/secrets.yaml
  k8s/clickhouse/statefulset.yaml
  k8s/deploy-all.sh
  k8s/jobs/cleanup-job.yaml
  k8s/jobs/experiment-job.yaml
  k8s/mariadb/statefulset.yaml
  k8s/monitoring/grafana-dashboard-configmap.yaml
  k8s/monitoring/install.sh
  k8s/monitoring/values.yaml
Due: none

Add document archive snapshots + German doku_de.tex
  docs/20260108 doku_updated.bib
  docs/20260108 doku_updated.tex
  docs/20260127 doku_de_updated.tex
  docs/20260127 doku_updated.bib
  docs/20260127 doku_updated.tex
  docs/20260216 doku.bib
  docs/20260216 doku.tex
  docs/doku_de.tex
Due: latex:compile

Add infra session 10: K8s manifests + security audit documentation
  infrastructure/sessions/20260218-session-10-infra-k8s-manifeste-security-audit.md
Due: none

Add infra security checklist + sessions .gitkeep
  infrastructure/security/db-hardening-checklist.md
  infrastructure/sessions/.gitkeep
Due: none

Complete triple pipeline: config generation, auto-cleanup, Docker build
  .gitlab-ci.yml
Due: cpp:build, cpp:smoke-test, cpp:full-dry-test

Session 9g: document pipeline completion + code fixes
  sessions/20260217-session-9-triple-pipeline-monitoring.md
Due: none

Fix pipeline triggers: disable Auto DevOps, add web/api fallback rules
  .gitlab-ci.yml
  src/cpp/config.hpp
Due: cpp:build, cpp:smoke-test, cpp:full-dry-test

Fix CI rules: separate push (changes-based) from web/api (always-run)
  .gitlab-ci.yml
Due: cpp:build, cpp:smoke-test, cpp:full-dry-test

Session 10-11: K8s credentials, security hardening, LaTeX docs
  docs/20260218 doku.bib
  docs/20260218 doku.tex
  docs/Fragen beantworten.txt
  infrastructure/security/db-hardening-checklist.md
  infrastructure/security/setup-lab-user.sh
  infrastructure/sessions/20260218-session-10-infra-k8s-manifeste-security-audit.md
  k8s/base/configmap.yaml
  k8s/base/secrets.yaml
  k8s/mariadb/statefulset.yaml
Due: latex:compile

Security audit: redact all cluster credentials for publication
  docs/20260218 doku.bib
  docs/20260218 doku.tex
  docs/Deduplication_Interim_Presentation_Updated_v2.pptx
  infrastructure/security/db-hardening-checklist.md
  infrastructure/security/setup-lab-user.sh
  infrastructure/sessions/20260218-session-10-infra-k8s-manifeste-security-audit.md
  k8s/base/secrets.yaml
  sessions/20260216-session-dedup-projekt-setup.md
  sessions/20260218-session-12-security-audit-experiment-redesign.md
  src/cpp/config.hpp
Due: latex:compile, cpp:build, cpp:smoke-test, cpp:full-dry-test

docs(doku.tex): align Chapter 6 with actual K8s testbed infrastructure
  docs/doku.tex
Due: latex:compile

refactor(config+datagen): redesign experiment framework for doku.tex §6.3
  src/cpp/config.example.json
  src/cpp/config.hpp
  src/cpp/experiment/data_loader.cpp
  src/cpp/experiment/dataset_generator.cpp
  src/cpp/experiment/dataset_generator.hpp
  src/cpp/main.cpp
Due: cpp:build, cpp:smoke-test, cpp:full-dry-test

security: remove credentials from tracked files, add .credentials.env template
  .gitignore
  README.md
  credentials.env.example
  infrastructure/sessions/20260218-session-10-infra-k8s-manifeste-security-audit.md
  sessions/20260216-kartografie-doku-tex.md
  sessions/20260216-session-dedup-projekt-setup.md
  sessions/20260217-session-9-triple-pipeline-monitoring.md
  sessions/20260218-session-12-security-audit-experiment-redesign.md
Due: none

docs: restore session files with credentials redacted
  .gitignore
  infrastructure/sessions/20260218-session-10-infra-k8s-manifeste-security-audit.md
  sessions/20260216-kartografie-doku-tex.md
  sessions/20260216-session-dedup-projekt-setup.md
  sessions/20260217-session-9-triple-pipeline-monitoring.md
  sessions/20260218-session-12-security-audit-experiment-redesign.md
Due: none

feat(instrumentation): add DB-internal metrics snapshots (doku.tex §6.5)
  src/cpp/CMakeLists.txt
  src/cpp/experiment/data_loader.cpp
  src/cpp/experiment/data_loader.hpp
  src/cpp/experiment/db_internal_metrics.cpp
  src/cpp/experiment/db_internal_metrics.hpp
  src/cpp/experiment/metrics_trace.cpp
  src/cpp/main.cpp
Due: cpp:build, cpp:smoke-test, cpp:full-dry-test

chore(k8s): update experiment ConfigMap with redesigned config fields
  k8s/base/configmap.yaml
Due: none

docs: elaborate session documentation for context continuation (sections 11-17)
  sessions/20260218-session-12-security-audit-experiment-redesign.md
Due: none

feat: add payload_type dimension to experiment loop (doku.tex §6.3)
  k8s/base/configmap.yaml
  src/cpp/experiment/data_loader.cpp
  src/cpp/experiment/data_loader.hpp
  src/cpp/experiment/metrics_collector.cpp
  src/cpp/experiment/metrics_collector.hpp
  src/cpp/experiment/metrics_trace.cpp
  src/cpp/experiment/metrics_trace.hpp
  src/cpp/main.cpp
Due: cpp:build, cpp:smoke-test, cpp:full-dry-test

docs: update config.example.json with all 9 payload types
  src/cpp/config.example.json
Due: none

docs: session 12 final update - experiment framework complete
  sessions/20260218-session-12-security-audit-experiment-redesign.md
Due: none

fix: correct pushgateway endpoints and service hostnames for deployed infrastructure
  k8s/base/configmap.yaml
  k8s/monitoring/values.yaml
  src/cpp/config.example.json
Due: none

docs: session 13 — monitoring stack deploy, Longhorn fix, config corrections
  sessions/20260219-session-13-monitoring-deploy-config-fixes.md
Due: none

docs: session 13 update — experiment DBs suspended for cluster performance
  sessions/20260219-session-13-monitoring-deploy-config-fixes.md
Due: none

docs: session 13 final — Kafka shutdown, Redis PVC resize 25→20Gi
  sessions/20260219-session-13-monitoring-deploy-config-fixes.md
Due: none

docs: session 14 — Longhorn upgrade support, DB connectivity tests, credential audit
  sessions/20260220-session-14-longhorn-upgrade-db-connectivity.md
Due: none

Path conditions:
  latex:compile: any of: docs/**/*.tex, docs/**/*.bib, docs/**/*.cls, docs/**/*.bst, docs/Makefile
  cpp:build: any of: src/cpp/**/*.cpp, src/cpp/**/*.hpp, src/cpp/**/*.h, src/cpp/CMakeLists.txt, .gitlab-ci.yml
  cpp:smoke-test: any of: src/cpp/**/*.cpp, src/cpp/**/*.hpp, src/cpp/**/*.h, src/cpp/CMakeLists.txt, .gitlab-ci.yml
  cpp:full-dry-test: any of: src/cpp/**/*.cpp, src/cpp/**/*.hpp, src/cpp/**/*.h, src/cpp/CMakeLists.txt, .gitlab-ci.yml
